@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

/* Enable dark mode in Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    background: #f8fafc;
    color: #0f172a;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark body {
    background: #0f172a;
    color: #f8fafc;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #94a3b8;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2563eb;
}
/* Global Search Scrollbar */

.search-results-scroll::-webkit-scrollbar {
  width: 8px;
}

.search-results-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.search-results-scroll::-webkit-scrollbar-thumb {
  background: #64748b;
  border-radius: 9999px;
}

.search-results-scroll::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Firefox */
.search-results-scroll {
  scrollbar-width: thin;
  scrollbar-color: #64748b transparent;
}
